@media (min-width: 3841px) and (max-width: 7680px) {

    .u-image-1-logo {
        width: 26%;
    }

    #countdown {
        font-size: 6.5rem;
    }

    .countdown-container {
        margin-top: 50%;
    }

    .countdown-separator {
        font-size: 3.1rem;
        line-height: 1.5;
    }

    .u-section-2 .u-container-layout-1 {
        display: flexbox;
        padding: 20px 48px;
        margin-left: 15%;
        margin-right: 10%;
        margin-top: 14%;
        text-align: initial;
    }

    .u-section-2 .u-text-2 {
        font-size: 4.5rem;
        margin: 7% 66px 0 0;
        line-height: 1.3;
    }


    .u-section-2 .u-text-1 {
        font-size: 11rem;
    }

    .u-section-2 .u-text-3 {
        font-size: 4.45rem;
    }



    .u-section-3 .u-text-1 {
        font-size: 11rem;
        margin: 7% auto 0% 19%;
    }

    .u-section-3 .u-tere {
        font-size: 4.9rem;
        margin: 113px auto 0 19%;
    }

    .u-section-3 .logoCircular {
        position: absolute;
        width: 600px;
        height: 600px;
        left: 80%;
        top: 59%;
        right: auto;
        bottom: 21px;
        padding: 1px;
    }

    .u-section-3 .atrativos {
        font-size: 11rem;
        padding: 1px;
        margin: 0% auto 0 30%;
        text-align: left;
    }

    .u-section-3 .atrativos-2 {
        font-size: 4rem;
        padding: 1px;
        margin: 0% auto 0 30%;
        text-align: left;
        letter-spacing: 2px;
        line-height: 159px;
    }

    #linha-horizontal {
        width: 33%;
        border: 4px solid #adbab5;
        margin: 20% 1px -108px -62px;
        display: flex;
    }


    .u-section-3 .u-text-2 {
        font-size: 4.675rem;
        line-height: 1.8;
        margin: 58px 605px 0px 697px;
        padding: 2px;
    }

    .u-section-3 .u-btn-1 {
        font-size: 4.875rem;
        background-image: transparent;
        border-style: solid;
        font-weight: normal;
        width: 109px;
        margin: 57px auto 0 39px;
        padding: 7px 7px 8px 6px;
    }



    .u-section-4 .u-text-1 {
        font-size: 7rem;
        margin-left: 10%;
    }

    .u-section-4 .u-text-2 {
        font-size: 4.3rem;
        margin: 75px 144px 0 10%;
    }

    .u-section-4 .u-form-1 {
        font-size: 4.3rem;

    }

    .u-section-4 {
        min-height: 90vh;
    }

    .u-section-4 .u-layout-wrap-1 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .u-section-4 .u-layout-cell-1 {
        min-height: 90%;
    }

    .u-section-4 .u-container-layout-1 {
        padding: 3px 0 5px;
    }

    .u-section-4 .u-text-1 {
        font-size: 11rem;
        margin-top: 25%;
        margin-bottom: 10;
        margin-left: 4%;
    }

    .u-section-4 .u-text-2 {
        font-size: 4.875rem;
        line-height: 1.2;
        margin: 6px 150px 0 4%;
    }

    .u-section-4 .u-form-1 {
        height: 90px;
        margin: 80px auto 0 15%;
        margin-right: 9%;
        font-size: 3.80rem;
    }

    .u-section-4 .u-input-1 {
        height: 200px;
    }

    .u-section-4 .u-input-2 {
        height: 200px;
    }

    .u-section-4 .u-input-3 {
        height: 200px;
    }

    .u-section-4 .u-form-group-4 {
        height: 200px;
        margin-bottom: auto;
    }

    .u-section-4 .u-input-4 {
        height: 220px;
    }

    .u-section-4 .u-btn-1 {
        border-style: solid;
        text-decoration: none;
        background-color: transparent;
    }

    .u-section-4 .u-image-1 {
        min-height: 70%;
        background-image: url("../images/bruno.png");
        background-position: 50% 50%;
    }

    .u-section-4 .u-container-layout-2 {
        padding: 20px 0;
    }







    .u-section-5 {
        min-height: 10vh;

    }

    .u-section-5 .u-image-1 {
        width: 13%;
        height: 10%;
        margin-right: 18%;
        padding: 10px;
        margin-top: 48px;
        margin-bottom: -125px;
    }

    .u-section-5 .u-text-1 {
        font-size: 4.675rem;
        line-height: 1.2;
        width: 25%;
        margin: center auto 0 0;
        padding: 1px;
        text-align: center;
    }

    .u-section-5 .u-text-2 {
        font-size: 0.575rem;
        text-align: center;
        line-height: 1.2;
        min-width: 285px;
        padding: 2px;
        margin-left: 971px;
        margin-top: -37px;
    }

    .u-section-5 .u-social-icons-1 {
        height: 44%;
        min-height: 65px;
        width: 9%;
        min-width: 160px;
        margin: -1% auto 0 24%;
    }

}